* {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

h2 {
    margin: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    border-bottom: 3px solid #006097;

}


h1 {
    font-size: 42px;
    font-weight: 100;
    padding-bottom: 32px;
}

nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;

    ul {
        display: flex;
        list-style: none;

        li {
            padding: 12px 24px;

            a {
                color: #0073b1;
                font-size: 17px;
                font-weight: 600;
            }
        }

        li:first-child {

            border-right: 1px solid rgba(0, 0, 0, 0.15);
        }
    }
}

.logo {
    display: flex;
    align-items: baseline;

    img {
        position: relative;
        top: 6px;
    }
}

li.signIn a {
    border: 1px solid #0073b1;
    padding: 0px 16px;
}

span.linked {
    font-size: 22px;
    font-weight: bolder;
    color: #006097;
}


.bannerImageSection img {
    max-width: 100vw;
    height: 368px;
}

.mainHead {
    p {
        font-size: 17px;
        color: rgba(0, 0, 0, 0.7);
        font-weight: 400;
        margin-bottom: 16px;

    }

    ul {
        list-style: none;
        display: flex;
        gap: 8px;
        padding: 0;

    }

    .buttonSection a {
        display: inline-block;
        line-height: 40px;
    }

    .primaryBtn {
        background-color: #0073b1;
        color: white;
        padding: 0px 44px;
        border: 1px solid #0073b1;

    }

    .secondaryBtn {
        color: #0073b1;
        padding: 0px 44px;
        border: 1px solid #0073b1;
        font-weight: 600;

    }

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerTitleSection {
    display: flex;
    max-width: 1338px;
    margin: 0 0 0 auto;
}

.container {
    max-width: 100%;
    background-color: #eef3f8;
    padding: 32px 0;

    p {
        font-size: 17px;
    }
}

.container_1 {
    max-width: 1140px;
    margin: 0 auto;

    h2 {
        margin-top: 32px;
        font-size: 21px;
    }
}


#bottomSection {
    background-color: #0a66c2;
    text-align: center;
    padding: 24px;

    p {
        font-size: 26px;
        color: rgba(255, 255, 255, 0.7);
    }

    a {
        border-radius: 5px;
        color: black;
        display: inline-block;
        padding: 10px 22px;
        background-color: white;
        font-size: 17px;
        margin-top: 8px;

    }
}

footer {
    .container_1 {
        max-width: 768px;
        margin: 0 auto;
        padding: 24px 0 24px 0;
    }

    a {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.6);
    }
}

.courseContainer {
    padding-top: 32px;

    h2 {
        font-size: 42px;
        font-weight: 200;
        margin-bottom: 32px;
    }

    p {
        color: rgba(0, 0, 0, 0.7);
        max-width: 648px;
        margin: 0 auto;
        font-size: 21px;
    }

    .textAndHead {
        max-width: 840px;
        margin: 0 auto;
        padding: 32px 0;
    }

    .courseId {
        max-width: 1140px;
        margin: 0 auto;

        .col {
            padding-bottom: 32px;
        }
    }

}